/*  Popups  */
#product-popups{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    overflow: hidden;
    outline: 0;
    -webkit-transition: all 2.5s ease-in-out;
    -moz-transition: all 2.5s ease-in-out;
    -ms-transition: all 2.5s ease-in-out;
    -o-transition: all 2.5s ease-in-out;
    transition: all 2.5s ease-in-out;

}
.topping-scroll{
    overflow: auto;
    height: 61%;
}
#product-popups .topping-header-close .position-fixed{
    right: 20px;
    top: 1px;
}
#product-popups .topping-header .media .media-body h5{
    font-size: 22px;
    color: #464646;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#product-popups .topping-header-close .position-fixed button{
    color: #fff;
}
#product-popups .topping-header-close .position-fixed button:hover{
    color: #fff;
}
.topping-category-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}
.topping-category .topping-name {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #060606;
    background: #66666629;
    padding: 5px;
}
.topping-category .topping-note {
    font-size: 14px;
    color: #959595;
    font-weight: 400;
}
.topping-category .custom-checkbox label {
    font-size: 15px;
}
.numbers-row {
    float: left;
}
.cart-plus-minus {
    display: inline-block;
    float: left;
    margin-right: 18px;
}
.cart-plus-minus label {
    display: inline-block;
    float: left;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-right: 10px;
}
.dec.qtybutton {
    background-color: #e5e5e5;
    border: 1px #ddd solid;
    border-right: none;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    color: #39342e;
    font-size: 14px;
    line-height: normal;
    padding: 12px 14px 9px 16px;
    line-height: 18px;
    display: inline-block;
    height: 40px;
    float: left;
    cursor: pointer;
}
.cart-plus-minus .qty {
    border: 1px solid #e0e0e0;
    color: #39342e;
    float: left;
    font-size: 18px;
    font-weight: 900;
    height: 40px;
    margin-right: 0;
    padding: 0 5px 1px;
    text-align: center;
    width: 65px;
}
.inc.qtybutton {
    background-color: #cf2127;
    border: 1px #ddd solid;
    border-left: none;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    font-size: 14px;
    padding: 12px 14px 9px 16px;
    line-height: 18px;
    display: inline-block;
    height: 40px;
    float: left;
    cursor: pointer;
    color: #fff;
}
.btn-red {
    background-color: #cf2127;
    color: #fff;
    border-color: #cf2127;
}
.btn-red:hover{
    color: #fff;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #dc3545;
    background-color: #dc3545;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem #dc35456e;
}
.topping-notes input{
    width: 100%;
    border-color: rgba(152,166,173,.2);
    border: aliceblue;
    padding-left: calc(1.5em + .75rem) !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("../../src/images/icons8-edit_property.png");
    background-repeat: no-repeat;
    background-position: center left calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.topping-notes input:focus{
    outline: none;
}
/* */
@media (min-width: 320px) and (max-width: 359.98px) {
    #product-popups .topping-header {
        height: 94px;
        background: rgba(122, 122, 122, 0.09);
    }
    #product-popups .topping-header .media {
        height: 94px;
    }
    #product-popups .topping-header-close .position-fixed{
        left: 8px;
        top: -2px;
        right: inherit;
    }
    .topping-header-close h4{
        font-size: 18px;
        font-weight: 600;
    }
    #product-popups .topping-header-close .position-fixed{
        left: 8px;
        top: -2px;

    }
    .topping-header .media img {
        width: 78px;
        margin-right: 0.25rem !important;
    }
    #product-popups .topping-header .media .media-body h5{
        font-size: 14px;
        color: #464646;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .topping-note{
        display: none;
    }
    .topping-note2{
        float: right;
        padding: 2px 5px 2px;
        background: #444444;
        color: #fff;
        font-size: 12px;
        font-weight: 100;
    }
    .topping-footer{
        display: none;
    }
    #topping-footer{
        height: 35px;
        width: 100%;
        position: fixed;
        z-index: 999;
        bottom: 0;
    }
    .topping-footer{
        width: 100%;
    }
    /*mobile-qty*/
    .mobile-qty.d-flex {
        display: block;
        float: right;
        position: absolute;
        right: 19px;
        top: 95px;
    }
    .mobile-qty .modbile-qt-{
        width: 30px;
        border: 2px solid #777;
        height: 30px;
        text-align: center;
        font-size: 22px;
        font-weight: 900;
        line-height: 24px;
        margin-right: 6px;
    }
    .mobile-qty .modbile-qts{
        width: 30px;
        border: 2px solid #dc3545;
        height: 30px;
        text-align: center;
        font-size: 22px;
        font-weight: 900;
        line-height: 24px;
        margin-left: 6px;
        background: #dc3545;
        color: #fff;
    }
    .mobile-qty .modbile-qt-input{
        width: 45px;
        padding-left: 18px;

    }
    .close{
        transition-delay: 1ms;
    }
    /*.dec.qtybutton{*/

    /*    padding: 8px 9px 8px 9px;*/

    /*}*/
    /*.inc.qtybutton{*/
    /*    padding: 8px 9px 8px 9px;*/
    /*}*/
}
/**/
@media (min-width: 360px){
    #product-popups .topping-header {
        height: 94px;
        background: rgba(122, 122, 122, 0.09);
    }
    #product-popups .topping-header .media {
        height: 94px;
    }
    #product-popups .topping-header-close .position-fixed{
        left: 8px;
        top: -2px;
        right: inherit;
    }
    .topping-header-close h4{
        font-size: 18px;
        font-weight: 600;
    }
    .topping-header .media img {
        width: 78px;
    }
    #product-popups .topping-header .media .media-body h5{
        font-size: 16px;
        color: #464646;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .topping-note{
        display: none;
    }
    .topping-note2{
        float: right;
        padding: 2px 5px 2px;
        background: #44444482;
        color: #fff;
        font-size: 12px;
        font-weight: 100;
    }
    .topping-footer{
        display: none;
    }
    .topping-category .topping-name{
    }
    .topping-scroll{
        height: 67%;
    }
    div#topping-footer {
        height: 46px;
    }
    /*mobile-qty*/
    .mobile-qty.d-flex {
        float: right;
        position: absolute;
        right: 19px;
        top: 95px;
        display: block;
    }
    .mobile-qty .modbile-qt-{
        width: 30px;
        border: 2px solid #777;
        height: 30px;
        text-align: center;
        font-size: 22px;
        font-weight: 900;
        line-height: 24px;
        margin-right: 6px;
    }
    .mobile-qty .modbile-qts{
        width: 30px;
        border: 2px solid #dc3545;
        height: 30px;
        text-align: center;
        font-size: 22px;
        font-weight: 900;
        line-height: 24px;
        margin-left: 6px;
        background: #dc3545;
        color: #fff;
    }
    .mobile-qty .modbile-qt-input{
        width: 45px;
        padding-left: 18px;

    }
    span.mobile-input-model{
        display: block;
        height: 30px;
        width: 100%;
        position: absolute;
        top: 127px;
        z-index: 55;
    }
    .topping-scroll .topping-notes{
        margin-top: 10px;
    }
}
/*Iphone x*/
@media (min-width: 375px) and (min-width: 414px){
    .topping-scroll {
        height: 70%;
    }
    div#topping-footer {
        height: 37px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .mobile-qty{
        display: block;
    }
    .topping-header-close h4{
        font-size: 18px;
        font-weight: 600;
    }
    #product-popups .topping-header-close .position-fixed{
        left: 8px;
        top: -2px;
        right: inherit;
    }
    .topping-scroll .topping-notes{
        margin-top: 10px;
    }
    #product-popups .topping-header {
        height: 94px;
        background: rgba(122, 122, 122, 0.09);
    }
    #product-popups .topping-header .media {
        height: 94px;
    }
    .cart-plus-minus {
        width: 100%;

    }
    .topping-scroll{
        height: 46%;
    }
    div#topping-footer {
        height: 37px;
    }
    .mobile-input-model{
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    #product-popups{
        height: 55%;
    }
    .topping-scroll{

    }
    .topping-scroll .topping-notes{
        margin-top: 10px;
    }
    .mobile-qty{
        display: none !important;
    }
    .topping-note{
        display: block;
    }
    .topping-footer{
        display: block;
    }
    .mobile-input-model{
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #product-popups{
        height: 60%;
    }
    .topping-scroll{
        overflow: auto;
    }
    .topping-scroll .topping-notes{
        margin-top: 10px;
    }
    .mobile-qty{
        display: none !important;
    }
    .topping-note{
        display: block;
    }
    .topping-footer{
        display: block;
    }
    .mobile-input-model{
        display: none;
    }
}
@media (min-width: 1200px){
    #product-popups{
        height: 65%;
    }
    .topping-scroll{
        overflow: auto;
    }
    .topping-scroll .topping-notes{
        margin-top: 10px;
    }
    .mobile-qty{
        display: none !important;
    }
    .topping-note{
        display: block;
    }
    .topping-category .topping-name{
        background: none;
    }
    .topping-footer{
        display: block;
    }
    .mobile-input-model{
        display: none !important;
    }
}
