/*
    Themes : Minh Duc
    Design : UpStart
    Datatime : 14/6/2019
*/
/**  =====================
      Custom css start
==========================  **/

body {
    background-color: #f3f3f3;
    font-size: 0.875em;

    color: #455a64;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

*:focus {
    outline: none;
}
a {
    font-size: 13px;
    text-decoration: none !important;
    color: #37474f;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.btn-primary {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
    -webkit-box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
}
.img-radius {
    border-radius: 50%;
}
.btn-primary:hover {
    color: #fff;
    background-color: #4e5bf2;
    border-color: #4250f2;
}
.btn-group, .btn-group-vertical{
    width: 100%;
}
@media only screen and (min-width: 1400px) {
    a {
        font-size: 14px;
    }
}
.table-controls {
    padding: 0;
    margin: 0;
    list-style: none;
}
.table-controls>li {
    display: inline-block;
    margin: 0 4px;
    line-height: 1;
}
.table-controls>li>a {
    display: inline-block;
}
.table-controls>li>a i {
    margin: 0;
    color: #acb0c3;
    font-size: 18px;
    display: block;
}
ul.table-controls li:nth-child(1) a i {
    color: #1a73e9;
    border: 1px solid #1a73e9;
}
ul.table-controls li:nth-child(2) a i {
    color: #e7515a;
    border: 1px solid #e7515a;
}

ul.table-controls li:nth-child(1) a i:hover {
    background-color: #1a73e9;
    color: #fff;
    border: 1px solid #1a73e9;
}
ul.table-controls li:nth-child(2) a i:hover {
    background-color: #e7515a;
    color: #fff;
    border: 1px solid #e7515a;
}
.main{
    background: #eff5f7;
    min-height: calc(100vh - 56px);
}
#profile,#collection{
    margin-top: 4ch;
}
.page-container{
    position: inherit !important;
    margin-top: 0 !important;
}
/*===========    navbar     =============*/
#header #header-navbar {
    /* background: #448aff;
    color: #333;
    position: fixed; /* Make it stick/fixed */
    /* top: 0; /* Stay on top */
    /* width: 100%; /* Full width */
    /* transition: top 0.3s; /* Transition effect when sliding down (and up) */
    /* z-index: 99; */
}


 #header-navbar .nav-img img{
    width: 100%;
    height: 50px;
}
#header-navbar .navbar-toggler{
    background: #455a64;
}
 #header-navbar  li {
    float: left;
}
#header #header-navbar .user-profile .waves-effect img{
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
 #header-navbar .header-notification{
    float: left;
    padding: 0 10px;
    position: relative;
    perspective: 1000px;
    z-index: 99;
}
 #header-navbar .header-notification .profile-dropdown{
    right: -12px;
    padding: 10px;
}
 #header-navbar .header-notification .profile-dropdown .notify-item{
    color: rgb(49, 58, 70);
}
 #header-navbar .header-notification .profile-dropdown:before{
    content: "";
    border: 10px solid transparent;
    border-left-color: #fff;
    border-top-color: #fff;
    position: absolute;
    border-radius: 5px;
    right: 16px;
    top: -10px;
    -webkit-box-shadow: -11px -11px 35px 0 rgba(0, 0, 0, 0.25);
    box-shadow: -11px -11px 35px 0 rgba(0, 0, 0, 0.25);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 9;
}
 #header-navbar .header-notification a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
#header-navbar .header-notification  .notify-item{
    padding: 0;
}
 #header-navbar .header-notification a i{

    font-size: 16px;
}
#mobile-sm{
    position: absolute;
    right: 5rem;
    height: 46px;
    width: auto;
}
#mobile-sm a  {
    padding: 0 12px;
}
#mobile-sm .mobile-sm-item{
    margin-bottom: 15px;
}
#mobile-sm a img{
    height: 50px;
}
.badge {
    border-radius: 100px;
    right: 0;
    position: absolute;
    top: 0px;
    padding: 4px;
}
span.badge {
    display: inline-block !important;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.navbar-brand img {
    height: auto;
    width: 50px;
}
.waves-effect img {
    height: auto;
    width: 50px;
    padding-right: 10px;
}
/*====== Ready to use Css End ======*/
.page-header {
    background-image: url("../../../../images/breadcrumb-bg.jpg");
    background-size: cover;
    background-position: bottom center;
    /*background-attachment: fixed;*/
    position: relative;
    border-radius: 0;
    color: #fff;
    /* margin-top: 4.72rem !important; */
}

.page-header:before {
    content: "";
    background: rgba(68, 138, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.page-header .page-block {
    padding: 35px 40px;
}

.page-header .page-block .breadcrumb {
    float: right;
    background: transparent;
    margin-bottom: 0;
    padding: 0;
}

.page-header .page-block .breadcrumb a {
    font-size: 14px;
    color: #fff;
}
.page-header .page-header-img {
    width: 150px;
    margin: auto;
}

.page-header .page-header-img img{
    height: 150px;
    width: auto;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    border-radius: 5%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.page-header .page-block .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "\f105";
    font-family: FontAwesome;
    padding-right: 5px;
    font-size: 12px;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .page-header .page-block .breadcrumb {

        margin-top: 10px;
    }
}

.sub-title {
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #2c3e50;
}
/*==========Collection ==========*/

#collection .collection-item {
    border-radius: 5px;
    height: 200px;
    width: 100%;
    border: none;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.20);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.20);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
#collection .collection-item .collection-img{
    height: 200px;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}
#collection .collection-item .collection-img .collection-img-item{
    height: 150px;
    width: 100%;
    background: no-repeat center;
    background-size: contain;
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
    margin-left: auto;
    margin-right: auto;
}

#collection .collection-item .card-body{
    padding: 1rem;
}
#collection .collection-item .card-body h5{
    font-size: 15px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#collection .collection-item div#image_plus{
    height: 250px;
    background: no-repeat center center;
    background-size: contain !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#collection .collection-item:hover{

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.58) !important;
}
#collection .collection-item .collection-img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#collection .collection-item:hover .collection-conten{
    opacity: 1;
}
/*=====form====*/
.form-control-light{
    background-color: #f1f3fa;
    border-color: #f1f3fa;
}
form .form-group label{color: #101010;}
form .form-group .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.2125rem + 4px);
    padding: .45rem 1.9rem .45rem .9rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 2px solid #dee2e6;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}
form .input-group .form-control,form .input-group .form-search,form .form-group .form-control,form .input-group .custom-file .custom-file-label{
    display: block;
    padding: .45rem .9rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #6c757d;
    background-clip: padding-box;
    border: 2px solid #dee2e6;
    border-radius: .1rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.select-search {
    background: none !important;
    border-bottom: 2px solid #fff !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: inherit !important;
    color: #fff !important;
}
.select-search:focus{
    border-bottom-color: #458aff !important;
    box-shadow: none !important;
}
form .input-group .custom-file .custom-file-label:after{
    border-radius: 0;
    height: calc(1.5em + 0.6rem);
}
/*fix url img */

.input-group-btn{
    position: absolute;
    width: 0%;
    z-index: 178;
    font-size: 12px;
    height: calc(1.5em + 0.75rem + 5px);
    right: 0;
    top: -20px;
}
.input-group-btn .btn{
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
    float: right;
}
.combobox-group{
    width: 100%;
    height: calc(1.5em + 0.75rem + 5px);
}
.combobox-group .input-group-addon{
    background-color: #e9ecef;
    height: calc(1.5em + 0.75rem + 2px);
    padding: .45rem .9rem;
}
.combobox-group ul{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.combobox-group ul li a:hover{
    color: #fff;
    background-color: #6c757d;
}
.combobox-group ul li a:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #6c757d;
}
.input-group-addon:not(:disabled):not(.disabled):active, .input-group-addon:not(:disabled):not(.disabled).active, .show > .input-group-addon.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.input-group-addon:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.input-group-btn .custom-file-label{width: 68px;height: calc(1.5em + 0.89rem + 3px);border-radius: inherit;border: 2px solid #dde2e5;}
.input-group-btn .custom-file-label:after{padding: 0.4rem 0.75rem;border: none;border-radius: inherit;height: calc(1.5em + .089rem + 12px);}


/*=====Right bar======*/
/* .right-bar {
    background-color: #fff;
    -webkit-box-shadow: 0 0 24px 0 rgba(49,58,70,.1), 0 1px 0 0 rgba(49,58,70,.08);
    box-shadow: 0 0 24px 0 rgba(49,58,70,.1), 0 1px 0 0 rgba(49,58,70,.08);
    position: fixed;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 260px;
    z-index: 9999999;
    float: right!important;
    right: -270px;
    top: 0;
    bottom: 0;
    display: none;
}
.right-bar .main-menu-header {
    padding: 16px 0 17px;
    background-image: url("../../../../images/user-bg.jpg");
    background-size: cover;
    text-align: center;
    position: relative;
}
.right-bar .main-menu-header:before {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.right-bar .main-menu-header .user-details {
    display: block;
    margin-top: 10px;
    position: relative;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}
.more-details {
    display: none;
}
.more-details a {
    padding: 10px 25px;
    display: block;
    color: #666;
    text-decoration: none;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}
.more-details a i {
    margin-right: 10px;
}
.more-details a:hover{color: #333;} */
/* .right-bar .main-menu-header .user-details #more-details {
    cursor: pointer;
}
.right-bar .main-menu-header .user-details a {
    color: #fff;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
}
.right-bar .main-menu-header .user-details a i {
    font-size: 10px;
    margin-left: 10px;
}
.main-menu-header img {
    position: relative;
    width: 50px;
    height: 50px;
} */
/* .logo-lg {
    display: block;
}
.logo-sm {
    display: block;
}
.logo span.logo-sm img{
    width: 200px;
    height: 63px;
} */
/* .right-bar .rightbar-title {
    background-color: #313a46;
    padding: 24px 25px;
    color: #fff;
}
.right-bar .right-bar-toggle {
    background-color: #404b5b;
    height: 24px;
    width: 24px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-top: -4px;
}
.right-bar .right-bar-toggle:hover{
    background: #4e5bf2;
    color: #fff;
}
.right-bar .right-bar-toggle i{
    font-size: 21px;
} */

/*=====Profile=====*/
#profile .toolbar .btn-group button{
    width: 100%;
}
#profile .btn-group button{
    width: 199px;
}
#profile label{
    color: #333;
}
#profile .card {
    margin-bottom: 0;
}
#profile .card-body{
    padding: 0;
}
#profile .card-body .img-uploat-src,#profile .card-body .img-uploat-src img{
    height: 122px;
    width: 100%;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
/*=====app_item=====*/
#apps-container .btn-group button{
    width: 204px;
}
#apps-container .btn-group a{
    width: 204px;
}
#apps-container a {
    text-decoration: none;
}
#apps-container .card {
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 10px !important;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.1) !important;
    height: 166px;
}

#apps-container.card:hover h4 { color: #1d1d1d; }
a.o-progress-preparing img{
    width: 91px;
    height: auto;
}
#apps-container .card  h4 {
    color: #3b3f5c;
    font-weight: 700;
}
#apps-container .card  h5 {
    color: #515365;
    font-weight: 700;
}
#apps-container .card-body h6 {
    font-weight: 500;
    margin-top: 12px;
    font-size: 15px;
}
#apps-container .card-body:hover h6 { color: #1d1d1d;
}
#apps-container .card-body .setting_item{
    position: absolute;
    right: 8px;
    z-index: 99999;
    top: 0;
}
#apps-container .card-body .setting_item a{
    font-size: 1.8rem;
}
#apps-container .card-body .setting_item a i:hover{
    color: #1d1d1d;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.1) !important;
}
/*=====user-management=====*/
.custom-fix-item .custom-fix-link{
    width: 204px;
    color: #fff;
}
.custom-fix-item .custom-fix-link i{
    padding-right: 10px;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-6-19 11:30:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
.kenburns-top {
    -webkit-animation: kenburns-top 5s ease-out both;
    animation: kenburns-top 5s ease-out both;
}
.bounce-in-fwd {
    -webkit-animation: bounce-in-fwd 1.1s both;
    animation: bounce-in-fwd 1.1s both;
}
@-webkit-keyframes bounce-in-fwd {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: scale(0.84);
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-fwd {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: scale(0.84);
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
